.section-title {
  display: flex;
  width: 60%;
  justify-content: center;
  padding-top: 100px;
  font-family: "Inter-SemiBold";
  font-size: 60px;
  text-align: center;
  color: #000000;
  margin: auto;
}
