.header__main-illustration {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 765px;
  height: 608px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}
