
.khan__buy-link {
height: 223px;
font-family: 'Inter';
font-weight: 400;
font-size: 30px;
line-height: 42px;
color: #2F80ED;
padding-left: 48px;
cursor:pointer
}

.khan__buy-link:hover {
opacity: 0.5;
}